<div class="container-fluid">
  <div class="container">
    <br>
    <br>
    <h1>Welcome to AgileLife!</h1>
    <br>
    <br>

    <div>
      <h3>Please <%= link_to "Sign In", new_session_path %> or <%= link_to "Create a New Account", new_user_path %></h3>
    </div>


  </div>
</div>
